VITE_SUPABASE_URL=https://buzgzpgyvmzdizntsebv.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJ1emd6cGd5dm16ZGl6bnRzZWJ2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjM0OTUzNTQsImV4cCI6MjA3OTA3MTM1NH0.NdAuTUNF3fqeO4SiL3mK-1BYFTHXtU5toRyiFJdJCqw